<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<string>开户</string>
	<key>002</key>
	<string>销户</string>
	<key>003</key>
	<string>账户信息修改</string>
	<key>004</key>
	<string>账户冻结</string>
	<key>005</key>
	<string>账户解冻</string>
	<key>006</key>
	<string>挂失</string>
	<key>007</key>
	<string>解挂</string>
	<key>008</key>
	<string>增加交易用户</string>
	<key>009</key>
	<string>撤销交易用户</string>
	<key>020</key>
	<string>认购</string>
	<key>021</key>
	<string>预约认购</string>
	<key>022</key>
	<string>申购</string>
	<key>023</key>
	<string>预约申购</string>
	<key>024</key>
	<string>赎回</string>
	<key>025</key>
	<string>预约赎回</string>
	<key>026</key>
	<string>转托管</string>
	<key>027</key>
	<string>转托管转入</string>
	<key>028</key>
	<string>转托管转出</string>
	<key>029</key>
	<string>设置分红方式</string>
	<key>030</key>
	<string>认购结果</string>
	<key>031</key>
	<string>份额冻结</string>
	<key>032</key>
	<string>份额解冻</string>
	<key>033</key>
	<string>非交易过户</string>
	<key>034</key>
	<string>非交易过户转入</string>
	<key>035</key>
	<string>非交易过户转出</string>
	<key>036</key>
	<string>基金转换</string>
	<key>037</key>
	<string>基金转换转入</string>
	<key>038</key>
	<string>基金转换转出</string>
	<key>039</key>
	<string>定投申购</string>
	<key>040</key>
	<string>退款</string>
	<key>041</key>
	<string>补款</string>
	<key>042</key>
	<string>强行赎回</string>
	<key>043</key>
	<string>红利发放</string>
	<key>044</key>
	<string>强行调增</string>
	<key>045</key>
	<string>强行调减</string>
	<key>052</key>
	<string>撤单</string>
	<key>053</key>
	<string>撤预约单</string>
	<key>054</key>
	<string>无效资金</string>
	<key>059</key>
	<string>新增定投计划</string>
	<key>060</key>
	<string>撤销定投计划</string>
	<key>061</key>
	<string>修改定投计划</string>
	<key>062</key>
	<string>暂停定投计划</string>
	<key>063</key>
	<string>恢复定投计划</string>
	<key>090</key>
	<string>补办基金账户卡</string>
	<key>098</key>
	<string>过户</string>
	<key>101</key>
	<string>开户</string>
	<key>102</key>
	<string>销户</string>
	<key>103</key>
	<string>账户信息修改</string>
	<key>104</key>
	<string>基金账户冻结</string>
	<key>105</key>
	<string>基金账户解冻</string>
	<key>106</key>
	<string>基金账户卡挂失</string>
	<key>107</key>
	<string>基金账户卡解挂</string>
	<key>108</key>
	<string>增加交易账户</string>
	<key>109</key>
	<string>撤销交易账户</string>
	<key>120</key>
	<string>认购</string>
	<key>121</key>
	<string>预约认购</string>
	<key>122</key>
	<string>申购</string>
	<key>123</key>
	<string>预约申购</string>
	<key>124</key>
	<string>赎回</string>
	<key>125</key>
	<string>预约赎回</string>
	<key>126</key>
	<string>转托管</string>
	<key>127</key>
	<string>转托管转入</string>
	<key>128</key>
	<string>转托管转出</string>
	<key>129</key>
	<string>设置分红方式</string>
	<key>130</key>
	<string>认购确认</string>
	<key>131</key>
	<string>基金份额冻结</string>
	<key>132</key>
	<string>基金份额解冻</string>
	<key>133</key>
	<string>非交易过户</string>
	<key>134</key>
	<string>非交易过户转入</string>
	<key>135</key>
	<string>非交易过户转出</string>
	<key>136</key>
	<string>基金转换</string>
	<key>137</key>
	<string>基金转换转入</string>
	<key>138</key>
	<string>基金转换转出</string>
	<key>139</key>
	<string>定投申购</string>
	<key>140</key>
	<string>退款</string>
	<key>141</key>
	<string>补款</string>
	<key>142</key>
	<string>强制赎回</string>
	<key>143</key>
	<string>红利发放</string>
	<key>144</key>
	<string>强制调增</string>
	<key>145</key>
	<string>强制调减</string>
	<key>146</key>
	<string>配号</string>
	<key>149</key>
	<string>募集失败</string>
	<key>150</key>
	<string>基金清盘</string>
	<key>151</key>
	<string>基金终止</string>
	<key>152</key>
	<string>撤单</string>
	<key>153</key>
	<string>撤预约单</string>
	<key>154</key>
	<string>无效资金</string>
	<key>190</key>
	<string>补办基金账户卡</string>
	<key>198</key>
	<string>过户</string>
	<key>622</key>
	<string>申购</string>
	<key>624</key>
	<string>赎回</string>
	<key>820</key>
	<string>跨期转入（认购）</string>
	<key>822</key>
	<string>跨期转入（申购）</string>
	<key>824</key>
	<string>跨期转出</string>
	<key>901</key>
	<string>红冲蓝补</string>
	<key>902</key>
	<string>销客户号</string>
	<key>908</key>
	<string>储蓄替代账户开通</string>
	<key>909</key>
	<string>储蓄替代账户撤销</string>
	<key>910</key>
	<string>银行卡变更</string>
	<key>911</key>
	<string>银行卡全称修改</string>
	<key>912</key>
	<string>身份证15-18转换</string>
	<key>913</key>
	<string>交易密码修改</string>
	<key>914</key>
	<string>资金密码修改</string>
	<key>915</key>
	<string>密码修改</string>
	<key>922</key>
	<string>充值</string>
	<key>924</key>
	<string>取现</string>
	<key>937</key>
	<string>货币基金迁入</string>
	<key>938</key>
	<string>货币基金迁出</string>
	<key>939</key>
	<string>自动充值</string>
	<key>942</key>
	<string>储蓄替代强行赎回</string>
	<key>943</key>
	<string>收益结转</string>
	<key>944</key>
	<string>储蓄替代调增</string>
	<key>945</key>
	<string>储蓄替代调减</string>
	<key>952</key>
	<string>无效委托处理</string>
	<key>955</key>
	<string>跨期交易</string>
	<key>959</key>
	<string>新增自动充值</string>
	<key>960</key>
	<string>终止自动充值</string>
	<key>961</key>
	<string>变更自动充值</string>
	<key>970</key>
	<string>结息</string>
	<key>998</key>
	<string>赠送份额</string>
	<key>230</key>
	<string>认购失败退款</string>
	<key>220</key>
	<string>认购失败退款</string>
	<key>239</key>
	<string>定投失败退款</string>
	<key>222</key>
	<string>申购失败退款</string>
	<key>242</key>
	<string>强赎退款</string>
	<key>243</key>
	<string>分红回款</string>
	<key>252</key>
	<string>撤单回款</string>
	<key>224</key>
	<string>赎回回款</string>
</dict>
</plist>
