<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>message</key>
	<string>ok</string>
	<key>status</key>
	<string>0000</string>
	<key>taxBase</key>
	<integer>3500</integer>
	<key>taxList</key>
	<array>
		<dict>
			<key>quickDeduction</key>
			<integer>0</integer>
			<key>salaryEnd</key>
			<integer>1455</integer>
			<key>salaryStart</key>
			<integer>0</integer>
			<key>taxRate</key>
			<real>0.03</real>
			<key>updateTime</key>
			<integer>1416911280000</integer>
		</dict>
		<dict>
			<key>quickDeduction</key>
			<integer>105</integer>
			<key>salaryEnd</key>
			<integer>4500</integer>
			<key>salaryStart</key>
			<integer>1500</integer>
			<key>taxRate</key>
			<real>0.1</real>
			<key>updateTime</key>
			<integer>1416466847000</integer>
		</dict>
		<dict>
			<key>quickDeduction</key>
			<integer>555</integer>
			<key>salaryEnd</key>
			<integer>9000</integer>
			<key>salaryStart</key>
			<integer>4500</integer>
			<key>taxRate</key>
			<real>0.2</real>
			<key>updateTime</key>
			<integer>1416911332000</integer>
		</dict>
		<dict>
			<key>quickDeduction</key>
			<integer>1005</integer>
			<key>salaryEnd</key>
			<integer>35000</integer>
			<key>salaryStart</key>
			<integer>9000</integer>
			<key>taxRate</key>
			<real>0.25</real>
			<key>updateTime</key>
			<integer>1416911806000</integer>
		</dict>
		<dict>
			<key>quickDeduction</key>
			<integer>2755</integer>
			<key>salaryEnd</key>
			<integer>55000</integer>
			<key>salaryStart</key>
			<integer>35000</integer>
			<key>taxRate</key>
			<real>0.3</real>
			<key>updateTime</key>
			<integer>1416911836000</integer>
		</dict>
		<dict>
			<key>quickDeduction</key>
			<integer>5500</integer>
			<key>salaryEnd</key>
			<integer>80000</integer>
			<key>salaryStart</key>
			<integer>55000</integer>
			<key>taxRate</key>
			<real>0.35</real>
			<key>updateTime</key>
			<integer>1416911872000</integer>
		</dict>
		<dict>
			<key>quickDeduction</key>
			<integer>13505</integer>
			<key>salaryEnd</key>
			<integer>100000000</integer>
			<key>salaryStart</key>
			<integer>80000</integer>
			<key>taxRate</key>
			<real>0.45</real>
			<key>updateTime</key>
			<integer>1416911959000</integer>
		</dict>
	</array>
</dict>
</plist>
