<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>image_name</key>
			<string>离线下载_白天</string>
			<key>night_image_name</key>
			<string>离线下载_夜间</string>
			<key>title_name</key>
			<string>WiFi自动离线下载</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>清除缓存_白天</string>
			<key>night_image_name</key>
			<string>清除缓存_夜间</string>
			<key>title_name</key>
			<string>清除缓存</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image_name</key>
			<string>字体_白天</string>
			<key>night_image_name</key>
			<string>字体_夜间</string>
			<key>title_name</key>
			<string>正文字号</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>无图模式_白天</string>
			<key>night_image_name</key>
			<string>无图模式_夜间</string>
			<key>title_name</key>
			<string>仅WiFi下载图片</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>新闻推送_白天</string>
			<key>night_image_name</key>
			<string>新闻推送_夜间</string>
			<key>title_name</key>
			<string>推送开关</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image_name</key>
			<string>新浪_白天</string>
			<key>night_image_name</key>
			<string>新浪_夜间</string>
			<key>title_name</key>
			<string>新浪微博</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>腾讯_白天</string>
			<key>night_image_name</key>
			<string>腾讯_夜间</string>
			<key>title_name</key>
			<string>腾讯微博</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>image_name</key>
			<string>用户中心</string>
			<key>night_image_name</key>
			<string>用户中心1</string>
			<key>title_name</key>
			<string>用户中心</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>意见反馈_白天</string>
			<key>night_image_name</key>
			<string>意见反馈_夜间</string>
			<key>title_name</key>
			<string>意见反馈</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>打分_白天</string>
			<key>night_image_name</key>
			<string>打分_夜间</string>
			<key>title_name</key>
			<string>给我评分</string>
		</dict>
		<dict>
			<key>image_name</key>
			<string>关于我们_白天</string>
			<key>night_image_name</key>
			<string>关于我们_夜间</string>
			<key>title_name</key>
			<string>关于我们</string>
		</dict>
	</array>
</array>
</plist>
